[Desktop Entry]
Categories=System;
Comment[de]=Get new packages for CINELIVE
Comment=Get new packages for CINELIVE
Encoding=UTF-8
Exec=/usr/bin/cinelive-updater
GenericName[de]=Get new packages
GenericName=Get new packages
GenericName[en_US]=CINELIVE Updater
Icon=/usr/share/cinelive/cinelive-updater.png
MimeType=
MultipleArgs=false
Name[de]=CINELIVE Updater
Name=CINELIVE Updater
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
