[Desktop Entry]
Name=Cinelerra-HV 6
Comment=Video Editor
Categories=Application;AudioVideo;Multimedia;VideoEditing;
Exec=/opt/cinelerra-hv/usr/bin/cinelerra
Terminal=false
Type=Application
Icon=cinelerra-cv.xpm
