[Desktop Entry]
Name=Cinelerra-5.1 (goodguy)
Comment=Video Editor
Categories=Application;AudioVideo;Multimedia;VideoEditing;
Exec=/opt/cinelerra-goodguy/bin/cin
Terminal=false
Type=Application
Icon=/opt/cinelerra-goodguy/share/pixmaps/cin.xpm
