[Desktop Entry]
Name=Cinelerra-5.1 (goodguy)
Comment=Video Editor
Categories=Application;AudioVideo;Multimedia;VideoEditing;
Exec=/opt/cinelerra-goodguy/usr/bin/cinelerra
Terminal=false
Type=Application
Icon=cinelerra-cv.xpm
